page-filters {
  .photo{
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 100%;
    &.cover{
      height: 300px;
    }
  }
  .scroll{
    height: 130px;
    ion-row{
      flex-wrap: nowrap;
    }
  }
  img{
    &.grayscale{
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
    &.sepia{
      -webkit-filter: sepia(1);
      filter: sepia(1);
    }
    &.sature{
      -webkit-filter: saturate(8);
      filter: saturate(8);
    }
    &.hue-rotate{
      -webkit-filter: hue-rotate(90deg);
      filter: hue-rotate(90deg);
    }
    &.none{
      -webkit-filter: none;
      filter: none;
    }
  }
}
